@import "modules/variables";


#hashitmodal {
  @import "modules/layout";
  display: none;
  position: absolute;
  width: 500px;
  max-width: 100vw;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  top: 150px;
  left: calc(50% - 250px);
  z-index: 10000;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hashitmodal.show {
  display: block;
}

#hashitmodal textarea {
  border-radius: 0;
  background: #ededed;
  color: #23224e;
  margin-top: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  margin-bottom: 0;
}

#hashitClose {
  width: 24px;

  height: 24px;

  color: #a1a1a1;

  position: absolute;

  right: 10px;
}

#hashitClose:hover {
  color: #23224e;
}

#hashitCopy {
  width: 100%;

  padding: 8px;

  font-size: 24px;

  font-family: Verdana;

  background: #0e9582;

  color: white;

  border: 0;

}

#hashitCopy:hover {
  background: #0f6b5e;
}